body {
    background: url(https://cdn.cnn.com/cnnnext/dam/assets/161221152712-new-restaurants-2017-attitude-at-avani-riverside-bangkok.jpg);
    color: yellow;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.input-group {
    width: 500px;
    margin-left: 590px;
    margin-top: 50px   
}

#picked {
    float: right;
    margin-right: 115px;
}

#leftSide {
    margin-left: 200px;
}

#place {
    height: 38px
}

#result {
    text-align: center;
    font-size: 40px;
    color: orangered;
}

h3 {
    font-size: 50px
}

li {
    font-size: 40px;
    color: orangered;
}

